.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    background: #625ac4;
    width: 800px;
    border-radius: 15px;
}

.quote {
    padding: 60px 110px;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
}

.line {
    width: 680px;
    height: 1.5px;
    background: white;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

.author {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.icons {
    display: flex;
    gap: 40px;
    color: white;

}

.icons{
    cursor: pointer;
    height: 36px;
}

.quote {
  transition: opacity 0.3s ease;
}

.fade {
  opacity: 0;
}

.refresh-icon {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.refresh-icon:active {
  transform: rotate(150deg);
}

.loading {
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
}
